@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
  overflow-y: auto;
}
html,body,#root {
  width: 100%;
  height: 100%;
  background-color: bisque;
  margin: 0;
  box-sizing: border-box;
}
.total-balance{
  display:flex;
  gap: 2rem;
}

.users{
  display: flex;
  gap: 2rem;
}

.balance{
 
  font-weight: 800;
}

.users-wraper {
  box-sizing: border-box;
  width: max-content;
  height: auto;
  display: grid;
}


@media  screen and (max-width: 850px){
  .total-balance{
    flex-direction: column;
    gap: 0.3rem;
  }
}
@media  screen and (max-width: 650px){
  .total-balance{
    font-size: 1.8rem;
  }
  .users-wraper{
    width: 100%;
    padding: 1rem 1rem;
  }
  .users{
    font-size: 1.5rem;
    gap: 0.3rem;
  }
}
@media  screen and (max-width: 350px){
  .users{
    flex-direction: column;
  }
  .total-balance .name{
    display: none;
  }
  .App{
    gap: 0;
  }
}