@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
  height: 100%;
  gap: 1rem;
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
}
html,body,#root {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.total-balance{
  display:flex;
  gap: 2rem;
}

.users{
  display: flex;
  gap: 2rem;
}

.balance{
 
  font-weight: 800;
}